textarea {
  height: 100%;
  width: 100%;

  resize: none;
  box-sizing: border-box;
    
  white-space: pre;    
  overflow-wrap: normal;

  font-family: monospace;
  font-size: 14px;
  background-color: rgb(50, 54, 73);
  color: lightgrey;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
  background-color: black;
}

canvas {
  height: 100%;
  width: 100%; 

  box-sizing: border-box;

  background-color: lightslategray;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.card1{
  position: absolute;
  top: 0px;
  right: 0px;
  
  font-family: monospace;
  opacity: 50%;
  border: 1px solid black;
  border-radius: 5px;
}