textarea {
  height: 100%;
  width: 100%;

  resize: none;
  box-sizing: border-box;
    
  white-space: pre;    
  overflow-wrap: normal;
  /*overflow-x: scroll;*/

  font-family: monospace;
  font-size: 14px;
  background-color: rgb(50, 54, 73);
  color: lightgrey;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}

canvas {
  height: 70%;
  width: 100%; 

  box-sizing: border-box;
  background-color: lightslategray;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.cornerChip1{
  position: absolute;
  top: 65px;
  right: 250px;
}
.cornerChip2{
  position: absolute;
  top: 65px;
  right: 150px;
}
.cornerChip3{
  position: absolute;
  top: 65px;
  right: 50px;
}
.cornerChip4{
  position: absolute;
  top: 100px;
  right: 250px;
}
.cornerChip5{
  position: absolute;
  top: 100px;
  right: 150px;
}
.cornerChip6{
  position: absolute;
  top: 100px;
  right: 50px;
}